h1 {
    background-color: aliceblue;
    text-align: center;
}

nav {
    display: flex;
    gap: 0.5rem;
  }
  
  a {
    flex: 1;
    background-color: #05076448;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #fff;
    color: #333;
  }

body {
    background: #00021f;
}

p {
    color: blanchedalmond;
    font-size: large;
}

h2 {
    background-color: aliceblue;
    text-align: center;
}

img {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    border-width: 100px;
    border-style: solid;
    border-color: black;
}


